.inter-font{
    max-width: 1600px;
    margin: 0 auto;
}

.inter-font{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

.nav-container{
    width: 1600px;
    height: 92px;
    padding: 24px 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    background-color: #1A0B2E;
    color: #ffffff;
    gap: 314px;
   
}

.nav-info ul{
    width: 218px;
    height: 19px;
    font-size: 16px;
    font-weight: 500;
    opacity: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.nav-tittle{
    width: 219px;
    height: 32px;
    font-size: 30px;
    font-weight: bold;
    opacity: 100%;
    justify-content: center;
    justify-items: center;
}

.leaner-color{
  background: -webkit-linear-gradient(#F7E93F, #FB09B4, #9100F8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav-btn{
    width: 135px;
    height: 44px;
    gap: 4px;
    padding: 12px 16px;
    font-size: 16px;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 10000px;
    background: linear-gradient(45deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));
}

.nav-btn i{
    font-size: small;
    opacity: 100%;
    
}

.section-structure{
    width: 1600px;
    height: 760px;
    background-image: url(./assets/hero-bg.png);
    background-repeat: no-repeat;
    padding: 80px 525px;
    color: #ffffff;
    
}

.container{
    width: 550px;
    height: 558px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    justify-items: center;
    align-items: center;
}

.header-picture{
    position: relative;
    width: 350px;
}

.header-picture .bg{
    width: 100%;
}

.header-picture .overlay{
    position: absolute;
    top: 100px;
    left: 120px;
    width: 30%;
}

/* .new{
    width: 75px;
    height: 38px;
    font-size: 18px;
    font-weight: 800;
    color: #1A0B2E;
    gap: 10px;
    padding: 8px 16px;
    border-radius: 1000px;
    background-color: #00FF88;
    
    text-align: center;
    justify-content: center;
} */

.header-info{
    width: 550px;
    height: 100px;
    justify-content: center;
    justify-items: center;
    margin-top: 20px;
    margin-bottom: 24px;
    gap: 8px;
}

.header-info h1{
    font-size: 60px;
    font-weight: 800;
}

.header-info p{
    font-size: 16px;
    margin-bottom: 24px;
}

.header-btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    align-items: center;
    gap: 8px;
    margin-bottom: 50px;
    

}

.btn-1{
    width: 201px;
    height: 44px;
    font-size: 16px;
    font-weight: 800;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    align-items: center;
    padding: 12px 20px;
    gap: 6px;
    background: linear-gradient(45deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));
    border-radius: 1000px;
    
}
.btn-2{
    width: 147px;
    height: 44px;
    font-size: 16px;
    font-weight: 800;
    color: #00FF88;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    align-items: center;
    gap: 6px;
    border: 1px solid #00FF88;
    border-radius: 1000px;
}

.about-section{
    width: 1600px;
    height: 646px;
    padding: 50px 200px 120px 200px;
    background-color: #1A0B2E;
}
.about-info{
    width: 1200px;
    height: 222px;
    color: #ffffff;
    gap: 18px;
    margin-bottom: 80px;

}
.about-tittle{
    width: 1200px;
    height: 58px;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 16px;
    line-height: 58px;
}

.about-p{
    font-size: 16px;
    text-align: center;
    line-height: 20px;


}

.neumerical-info{
    width: 1200px;
    height: 94px;
    margin-top: 80px;
    gap: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    text-transform: capitalize;
}
.n-i h1{
    font-size: 48px;
    font-weight: bold;
    color: #00FF88;
    line-height: 58px;
    margin-bottom: 16px;
}
.n-i p{
    font-size: 16px;
    text-transform: uppercase;
    color: #ffffff;
    line-height: 20px;
}

.choosing-info{
    width: 1600px;
    height: 1122px;
    padding: 120px 200px;
    background-color: #1A0B2E;
}

.c-i-tittle{
    font-size: 48px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    margin-bottom: 48px;
}