.inter-font{
    max-width: 1600px;
    margin: 0 auto;
}

.inter-font{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

.nav-container{
    width: 1600px;
    height: 92px;
    padding: 24px 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    background-color: #1A0B2E;
    color: #ffffff;
    gap: 314px;
   
}

.nav-info ul{
    width: 218px;
    height: 19px;
    font-size: 16px;
    font-weight: 500;
    opacity: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.nav-tittle{
    width: 219px;
    height: 32px;
    font-size: 30px;
    font-weight: bold;
    opacity: 100%;
    justify-content: center;
    justify-items: center;
}

.leaner-color{
  background: -webkit-linear-gradient(#F7E93F, #FB09B4, #9100F8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav-btn{
    width: 135px;
    height: 44px;
    gap: 4px;
    padding: 12px 16px;
    font-size: 16px;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 10000px;
    background: linear-gradient(45deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));
}

.nav-btn i{
    font-size: small;
    opacity: 100%;
    
}

.nav-btn:hover{
    color: #00FF88;
    
    
}

.section-structure{
    width: 1600px;
    height: 760px;
    background-image: url(./assets/hero-bg.png);
    background-repeat: no-repeat;
    padding: 80px 525px;
    color: #ffffff;
    
}

.container{
    width: 550px;
    height: 558px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    justify-items: center;
    align-items: center;
}

.header-picture{
    position: relative;
    width: 350px;
}

.header-picture .bg{
    width: 100%;
}

.header-picture .overlay{
    position: absolute;
    top: 100px;
    left: 120px;
    width: 30%;
}

.new{
    width: 75px;
    height: 38px;
    background-color: #00FF88;
    color: black;
    padding: 0px 16px;
    border-radius: 1000px;
    gap: 20px;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    position: absolute;
    top: 20px;
    right: 15px;
    cursor: pointer;

}

.overlay{
    animation-name: spin;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-play-state: running;
}

.overlay:hover{
    animation-play-state: paused;
    cursor: pointer;
}

@keyframes spin{
    100%{
        transform: rotate(360deg);   
    }
}

.header-info{
    width: 550px;
    height: 100px;
    justify-content: center;
    justify-items: center;
    margin-top: 20px;
    margin-bottom: 24px;
    gap: 8px;
}

.header-info h1{
    font-size: 60px;
    font-weight: 800;
}

.header-info p{
    font-size: 16px;
    margin-bottom: 24px;
    opacity: 60%;
}

.header-btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    align-items: center;
    gap: 8px;
    margin-bottom: 50px;
    
    

}

.btn-1{
    width: 201px;
    height: 44px;
    font-size: 16px;
    font-weight: 800;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    align-items: center;
    padding: 12px 20px;
    gap: 6px;
    background: linear-gradient(45deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));
    border-radius: 1000px;
    cursor: pointer;
    
}
.btn-2{
    width: 147px;
    height: 44px;
    font-size: 16px;
    font-weight: 800;
    color: #00FF88;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    align-items: center;
    gap: 6px;
    border: 1px solid #00FF88;
    border-radius: 1000px;
    cursor: pointer;
}

.about-section{
    width: 1600px;
    height: 646px;
    padding: 50px 200px 120px 200px;
    background-color: #1A0B2E;
}
.about-info{
    width: 1200px;
    height: 222px;
    color: #ffffff;
    gap: 18px;
    margin-bottom: 80px;

}
.about-tittle{
    width: 1200px;
    height: 58px;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 16px;
    line-height: 58px;
}

.about-p{
    font-size: 16px;
    text-align: center;
    line-height: 20px;
    opacity: 60%;


}

.neumerical-info{
    width: 1200px;
    height: 94px;
    margin-top: 80px;
    gap: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    text-transform: capitalize;
}
.n-i h1{
    font-size: 48px;
    font-weight: bold;
    color: #00FF88;
    line-height: 58px;
    margin-bottom: 16px;
}
.n-i p{
    font-size: 16px;
    text-transform: uppercase;
    color: #ffffff;
    line-height: 20px;
    opacity: 60%;
}

.choosing-info{
    width: 1600px;
    height: 1122px;
    padding: 120px 200px;
    background-color: #230E3D;
}

.c-i-tittle{
    font-size: 48px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    margin-bottom: 48px;
}

.c-i-cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3);
    gap: 30px;
    text-align: left;
    color: #ffffff;
    width: 100%;
    height: 100%;
    margin-bottom: 120px;

}

.c-i-cards img{
    width: 60px;
    height: 60px;
    margin-bottom: 16px;

}
.c-i-cards h1{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 16px;
}
.c-i-cards p{
    font-size: 16px;
    line-height: 24px;
    opacity: 60%;
}

.info-card-1{
    grid-column: span 1;
    grid-row: span 2;
    width: 380px;
    height: 480px;
    padding: 40px;
    border-radius: 40px;
    background: rgba(53, 17, 101, 0.4);
    
}

.info-card-2{
    grid-column: span 2;
    grid-row: span 1;
    width: 790px;
    height: 225px;
    padding: 40px;
    border-radius: 40px;
    background: rgba(53, 17, 101, 0.4);
}
.info-card-3{
    grid-column: span 2;
    grid-row: span 1;
    width: 790px;
    height: 225px;
    padding: 40px;
    border-radius: 40px;
    background: rgba(53, 17, 101, 0.4);
    
}

.info-card-4{
    grid-column: span 2;
    grid-row: span 1;
    width: 790px;
    height: 273px;
    padding: 40px;
    border-radius: 40px;
    background: rgba(53, 17, 101, 0.4);
}

.info-card-5{
    grid-column: span 1;
    grid-row: span 1;
    width: 380px;
    height: 275px;
    padding: 40px;
    border-radius: 40px;
    background: rgba(53, 17, 101, 0.4);
}

.feature{
    width: 1600px;
    height: 1278px;
    padding: 120px 200px;
    background-color: #1A0B2E;
    color: #ffffff;
}

.feature-ep{
    width: 1200px;

}

.feature-ep .feature-tittle{
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 40px;
}

.f-cards{
    display: flex;
    gap: 30px;
   
}
.feature-card{
    border-radius: 24px 24px;
background: rgba(37, 13, 68, 1);
margin-bottom: 120px;
}

.feature-card iframe{
    border-radius: 24px 24px 0px 0px;
    margin-bottom: 24px;
}

.feature-card .ca-info{
    padding: 24px;
}

.feature-card .ca-info h1{
    font-size: 24px;
    font-weight: bold;
    line-height: 29px;
    margin-bottom: 15px;
}

.feature-card .ca-info p{
    font-size: 16px;
    opacity: 60%;
    line-height: 24px;
    margin-bottom: 12px;
}

.ca-info .duration{
    display: flex;
    gap: 6px;
    color: #00FF88;
    font-weight: bold;
    

}

.ca-info .duration img{
    width: 20px;
    height: 20px;
}

.feature .meet-host .host-tittle{
    font-size: 48px;
    font-weight: bold;
    text-transform: capitalize;
    line-height: 58px;
    text-align: center;
    margin-bottom: 40px;
}
.host{
    display: flex;
    padding: 40px;
    gap: 24px;
    border-radius: 24px 24px;
background: rgba(37, 13, 68, 1);
}
.host-info h1{
    font-size: 32px;
    font-weight: bold;
}
.host-info p{
    font-size: 16px;
    opacity: 60%;
    margin-top: 16px;
    margin-bottom: 16px;
}

.host-info .social{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.social .h-s-i{
    border-radius: 100%;
    border: 1px solid rgba(83, 60, 114, 1);
    padding: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.footer-container{
    width: 1600px;
    height: 412px;
    padding: 120px;
    background-image: url(./assets/footer-bg.png);
}

.footer-info{
    width: 1360px;
    height: 172px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 32px;
    color: #ffffff;
}

.footer-info h1{
    width: 410px;
    height: 60px;
    font-size: 80px;
    text-align: center;
    color: #ffffff;
    justify-content: center;
    margin-bottom: 32px;
 } 

 .footer-tittle{
    width: 219px;
    height: 32px;
    font-size: 30px;
    font-weight: bold;
    opacity: 100%;
    justify-content: center;
    justify-items: center;
 }

 .footer-info h6{
    opacity: 60%;
 }

 .footer-icon{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 40px;
    cursor: pointer;
    
 }

 .f-i{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
 }
 .f-i p{
    color: #ffffff;
    opacity: 60%;
 }

 /* Responsive for Small Device(576px)  */

 @media screen and (max-width:576px) {
    .nav-container{
        max-width: 550px;
        height: 60px;
      
    }

    .nav-tittle{
        position: absolute;
        top: 10px;
        left: 20px;
        
    }

    .nav-info ul {
        display: flex;
        flex-direction: column;
        visibility: hidden;
        
    }

    .nav-btn {
        content: url(./assets/hamburger-menu.png);
        margin-left: -250px;
        background: none;  
        cursor: pointer; 
    }

    .nav-btn:hover{
        background-color: #5b2c94;
    }


    .section-structure{
        
        background-image: url(./assets/hero-bg.png);
        background-repeat: no-repeat;
        background-size: 550px;
        height: 100%;
    }

    .header-picture{
        position: absolute;
    }

    .container{
        display: flex;
        flex-direction: column;
    } */

    .header-info .header-btn{
        width: 550px;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    } 

    .about-section{
        width: 550px;
        height: 100%;
        padding: 40px 20px;
        gap: 40px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

    }

    .about-info{
        width: 500px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        text-align: center;
        gap: 16px;
        margin-bottom: 80px;
    }

    .neumerical-info{
        width: 500px;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 0 auto;
        margin-bottom: 40px;
    }

    .choosing-info{
        width: 550px;
        height: 100%;
        padding: 40px 20px;
        gap: 16px;
    }

    .c-i-container{
        text-align: center;
        
        
    }
    .c-i-cards{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        text-align: left;
        padding: 30px;
        gap: 16px;

    }

    .info-card-1{
        width: 450px;
        height: 100%;
    }
    .info-card-2{
        width: 450px;
        height: 100%;
    }
    .info-card-3{
        width: 450px;
        height: 100%;
    }
    .info-card-4{
        width: 450px;
        height: 100%;
    }
    .info-card-5{
        width: 450px;
        height: 100%;
    }


    .feature{
        width: 550px;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        text-align: left;
        padding: 40px 20px;
        
        
    }

    .feature-tittle{
        width: 500px;
        font-size: 32px;
        text-align: center;
        justify-content: center;
        
    }

    .f-cards{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 380px;
        margin-left: 60px;
        gap: 10px;
    }

    .host-tittle{
        width: 400px;
        align-items: center;
        justify-content: center;
        margin-left: 50px;
    }

    .host{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        
        width: 500px;
        margin-right: 20px;
    }

    .footer-container{
        max-width: 550px;
        background-image: url(./assets/footer-bg.png);
        background-repeat: no-repeat;
        background-size: 550px;
        padding: 40px 20px;
        
    }

    .footer-info{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        
    }
    
 }